<div class="ml-2 mt-2">
  <input class="mr-4" type="text" [(ngModel)]="data" />  {{time}}
</div>
<div class="mt-3">
  <button (click)="sendToSubs()" class="btn btn-primary mr-2">
    Send to Subscribers
  </button>
  <button (click)="sendError()" class="btn btn-primary mr-2">
    Send Error
  </button>
  <button class="btn btn-primary" (click)="completeStream()">Complete</button>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <app-subscriber1></app-subscriber1>
    </div>
    <div class="col">
      <app-subscriber2></app-subscriber2>
    </div>
  </div>
</div>
